.consultation {
    padding: 100px 0 92px 0;
    min-height: 680px;
    background: url(../images/bg/bg2.webp) center (center/cover) no-repeat;

    &__descr {
        margin-top: 70px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
    }

    .error {

        border: 1px solid $main-color;
    }

    label.error {
        color: #ff2525;
        font-size: 16px;
        border: none;
        line-height: 16px;
    }
}